
<%= render :partial =>'home/marquee',:locals=>{:message =>'CHANGE PASSWORD'} %>
<p id="notice"><%= notice %></p>
<form method="post" action="/users/modify_password" name="change_password_form" onsubmit="return validateForm()">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
  <center>
    <table>
       <tr>
	 <TD><b>Enter current password</b></TD><Td><input type="password" name="current_password" size="20"></Td>
       </tr>
       <tr>
 	 <TD><b>Enter new password</b></TD><Td><input type="password" name="new_password" size="20"></Td>
       </tr>
       <tr>
	  <TD><b>Enter new password again</b></TD><Td><input type="password" name="con_password" size="20"></Td>
       </tr>
       <tr>
	  <td></td><td></td>
       </tr>
       <tr>
       	  <td></td><td></td>
       </tr>
       <tr>
	  <td><input type="submit" name="submit" value="CHANGE PASSWORD"></td><td></td>
       </tr>
      </table>
    </center>
  </form>
<br><br><br>


