<html>
  <head>
     <title>Employee Page</title>
  </head>
  <body bgcolor="Teal">
     <marquee>
       <center>
         <font color="red">
           <h1>EMPLOYEE HOME PAGE</h1>
         </font>
       </center>
     </marquee>
<br><br>
<a href="change_admin_password.html">
  <b>
    <font color="Blue" size="3">Change password</font>
  </b>
</a>
<br><br>
<b>
  <center>
     <br><br><br>
     <a href="add_emp.html"><font color="Fuchsia" size="3">VIEW PHOTOS</font></a><br><br>
     <a href="delete_emp.html"><font color="Fuchsia" size="3">UPLOAD PHOTOS</font></a><br><br>
     <a href="search_emp.html"><font color="Fuchsia" size="3">DOWNLOAD PHOTOS</font></a><br><br>
     <a href="login.html">Logout</a>
  </center>
</b>
</body>
</html>

