<center><font color="blue"><h2>ADMIN EMAIL PAGE</h2></font></center><br>
<center><h2><%= notice %></h2></center>
<form method="post" action="/emailer/sendmail">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <div class="mail_body"><br><br>
       <b>Recipient:</b><div class="recipient"><input type="text" name="recipient" size="50"></div><br>
       <b>Subject:</b><div class="subject"><input type="text" name="subject" size="50"></div><br>
       <b>Message:</b><div class="message"><textarea name="message" rows="20" cols="120"></textarea></div>
       <input type="submit" name="send_mail" value="SEND">
     </div>
</form>