<H2>Hello <%= @reciever.name %> </h2>
<br>
<p><%= @album.user.name %> has created new album "<%= @album.album_name %>": </p>
<p>Login at <a href="http://localhost:3000/home/login">http://localhost:3000/home/login</a> link of sign in page to see the album photo</p>
<br>
<br>
<h4>Regards,<br>
Support Team<br>
ED Album Group<br>
Sytematix Technocrates Pvt Ltd</h4>